<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <meta name="description" content="HwH的小站，IT、博客、Web前端、CSS3，个人博客的小二货">
    <meta name="keywords" content="IT资讯,it资讯,Web,HTML,H5,CSS3,HwH小站，HwH的小站">
    <meta name="baidu-site-verification" content="dqGCr0I8Ki" />
    <link rel="stylesheet" href="/lib/swiper/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/lib/noty/noty.min.css">
    <link rel="stylesheet" href="/dist/css/app.css">
  </head>
  <body>
    <div class="app app-articles">
      <%- include('components/nav') %>
      <div class="app-main clearfix">
        <div class="app-banner">
          <div class="swiper-container hlw-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw7.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw8.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw1.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw2.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw0.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw4.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw5.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="/dist/img/hlw6.jpeg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-container movie-swiper">
            <div class="swiper-wrapper">
              <% movies.forEach(function (movie) {%>
              <a class="swiper-slide" href="/movies/<%= movie._id %>">
                <img src="<%= movie.cover %>" alt="">
                <div class="movie-info">
                  <p class="p1"><%- movie.name %></p>
                  <p class="p2">
                    <span class="movie_score">IMDb：<%- movie.score %></span>
                  </p>
                </div>
              </a>
              <%})%>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        </div>
        <div class="app-main_content articles-list">
          <% articles.forEach(function (article) { %>
            <%- include('components/article-item', { article: article }) %>
          <% }) %>
          <%- include('components/page-nav') %>
        </div>
        <%- include('components/side') %>
      </div>
      <%- include('components/footer') %>
      <script src="/lib/swiper/swiper-3.4.2.jquery.min.js"></script>
      <script>
        new Swiper('.movie-swiper', {
          paginationClickable: true,
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          autoplay: 4000,
          speed: 1000,
          effect : 'cube',
          cube: {
            slideShadows: true,
            shadow: true,
            shadowOffset: 100,
            shadowScale: 0.6
          },
          loop: true
        })
        new Swiper('.hlw-swiper', {
          pagination: '.swiper-pagination',
          paginationClickable: true,
          effect : 'fade',
          autoplay: 3000,
          speed: 1000,
          // Disable preloading of all images
          preloadImages: true,
          // Enable lazy loading
          lazyLoading: true
        })
      </script>
    </div>
  </body>
</html>
