<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/lib/noty/noty.min.css">
    <link rel="stylesheet" href="/lib/simditor/simditor.css">
    <link rel="stylesheet" href="/dist/css/app.css">
  </head>
<body>
  <div class="app app-new-page">
    <%- include('components/nav') %>
    <div class="app-main">
      <div class="page-content">
        <%- include('components/article-content') %>
      </div>
      <%- include('components/back-top')%>
    </div>
    <%- include('components/footer') %>
  </div>
</body>
</html>