<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/dist/css/app.css">
</head>
<body>
  <div class="app app-login">
    <%- include('components/nav') %>
    <div class="app-main">
      <div class="form-wrapper">
        <% if (error) { %>
        <div class="error-tip"><%= error %></div>
        <%}%>
        <% if (type == 'signin') { %>
        <%- include('components/signin') %>
        <%} else if (type == 'signup') {%>
        <%- include('components/signup') %>
        <%} else { %>
        <%- include('components/password-reset') %>
        <% } %>
      </div>
    </div>
    <%- include('components/footer') %>
  </div>
</body>
</html>