<div class="new-item">
  <div class="new_other-info">
    <a href="/news/<%= article.author %>" class="new_avatar"><%- article.author.substr(0,1) %></a>
    <span class="new_author"><%= article.author %></span>
    <span class="new_date"><%= article.pdate %></span>
  </div>
  <% if (article.img) {%>
  <div class="new-item-inner with-img">
    <h3><a class="new_title" href="/news/<%= article._id %>"><%= article.title %></a></h3>
    <div class="new_text"><%- article.content %></div>
    <div class="new_img"><%- article.img %></div>
    <div class="new_tags">
    <% article.tag.forEach(function(tg){ %>
      <span class="new_tag"><%= tg %></span>
    <% }) %>
    </div> 
  </div>
  <% } else { %>
  <div class="new-item-inner">
    <h3><a class="new_title" href="/news/<%= article._id %>"><%= article.title %></a></h3>
    <div class="new_text"><%- article.content %></div>
    <% article.tag.forEach(function(tg){ %>
      <span class="new_tag"><%= tg %> </span>
    <% }) %> 
  </div>
  <% } %>
</div>
