<div class="new-content">
  <h3><a href="/news/<%= article._id %>"><%= article.title %></a></h3>
  <div class="new_other-info">
    <span class="new_author"><%= article.author %></span>
    <span class="new_date"><%= article.pdate %></span>
  </div>
  <div><%- article.content %></div>
</div>
