<div class="movie-item">
  <a class="movie_cover" href="/movies/<%= movie._id %>">
    <img src="<%= movie.cover %>" alt="movie.title">
    <div class="movie_info">
      <div class="movie_title">
        <%- movie.name %>
      </div>
      <div class="movie_score">IMDb：<b><%= movie.score %></b></div>
      <div class="movie_type">类型：<b><%- movie.movieType %></b></div>
    </div>
  </a>
  <div class="check-more-wrapper">
    <a href="/movies/<%= movie._id %>" class="check-more">查看详情</a>
  </div>
</div>