<a class="movie-item" href="/movies/<%= movie._id %>">
  <div class="movie_cover">
    <img src="<%= movie.cover %>" alt="movie.title">
    <div class="movie_info">
      <div class="movie_title">
        <%- movie.name %>
      </div>
      <div class="movie_score">IMDb：<b><%= movie.score %></b></div>
      <div class="movie_type">类型：<b><%- movie.movieType %></b></div>
    </div>
  </div>
  <div class="movie_other">
    <span class="movie_title"><%- movie.name %></span>
    <span class="movie_score"><%= movie.score %></span>
    <span class="more">详情</span>
  </div>
</a>